.sliders
    .range-slider
        .range-slider__header range slider
            span 5 000₽ - 10 000₽
        .range-slider__price
            .range-slider__range
                .range-slider__min
                .range-slider__max

    .big-buttons
        .big-buttons__header buttons
        .big-buttons__register
            button.big-buttons__sign-up click me
            button.big-buttons__sign-up.big-buttons__sign-up_sign-in click me
        .big-buttons__links
            a(href="#").big-buttons__click-me click me
        button.big-buttons__arrow-button перейти к оплате
            .big-buttons__arrow

    .pagination
        .pagination__header pagination
        .pagination__pages
            a(href="/node?page=1").pagination__page.pagination__page_current 1
            a(href="/node?page=2").pagination__page 2
            a(href="/node?page=3").pagination__page 3
            span &hellip;
            a(href="/node?page=15").pagination__page 15
            a(href="/node?page=1").pagination__page.pagination__page_next 
        .pagination__total 1 – 12 из 100+ вариантов аренды


