.sliders
    .range-slider
        .range-slider__header range slider
            span 5 000₽ - 10 000₽
        .range-slider__price
            .range-slider__range
                .range-slider__min
                .range-slider__max

    .big-buttons
        .big-buttons__header buttons
        .big-buttons__register
            button.big-buttons__sign-up click me
            button.big-buttons__sign-up.big-buttons__sign-up_sign-in click me
        .big-buttons__links
            a(href="#").big-buttons__click-me click me
        button.big-buttons__arrow-button перейти к оплате
            .big-buttons__arrow
    


