.sliders {
    width: 320px;
    font-family: 'Montserrat', sans-serif;
}

/* RANGE-SLIDER  
==============================*/

.range-slider {
    width: 266px;
    margin-bottom: 2.16rem;
}

.range-slider__header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 0.63rem;
    text-transform: uppercase;
    color: #1F2041;
    margin-bottom: 1.21rem;

    & span {
        font-weight: normal;
        font-size: 0.63rem;
        text-transform: uppercase;
        color: rgba(31, 32, 65, 0.5);
    }
}

.range-slider__price {
    position: relative;
    width: 266px;
    height: 6px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 3px;
}

.range-slider__range {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: auto;
    height: 6px;
    top: -1px;
    left: 75px;
    right: 86px;
    border-radius: 3px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.range-slider__min,
.range-slider__max {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

/* BIG-BUTTONS
==============================*/

.big-buttons {
    width: 320px;
    margin-bottom: 2.11rem;
}

.big-buttons__header {
    width: 51px;
    height: 15px;
    font-weight: bold;
    font-size: 0.63rem;
    text-transform: uppercase;
    color: #1F2041;
    margin-bottom: 0.84rem;
}

.big-buttons__register {
    margin-bottom: 1.05rem;
    width: 218px;
    display: flex;
    justify-content: space-between;
}

.big-buttons__sign-up {
    font-family: 'Montserrat', sans-serif;
    padding: 0 1.05rem;
    height: 44px;
    background: rgba(163, 160, 252, 1);
    border-radius: 22px;
    font-weight: bold;
    font-size: 0.63rem;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: .2s;
    cursor: pointer;

    &:hover {
        background-color: rgba(163, 160, 252, 0.5);
    }
    
    &_sign-in {
        border: 2px solid rgba(163, 160, 252, 1);
        background: none;
        color: #BC9CFF;

        &:hover {
            background: none;
            border-color: rgba(163, 160, 252, 0.5);
        }
    }
}

.big-buttons__links {
    margin-bottom: 1.05rem;
}

.big-buttons__click-me {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.63rem;
    text-transform: uppercase;
    color: #BC9CFF;
    cursor: pointer;

    &:hover {
        color: rgba(31, 32, 65, 0.5);
    }
}

/* ARROW-BUTTON
==============================*/

.big-buttons__arrow-button {
    position: relative;
    display: flex;
    height: 44px;
    width: 100%;
    background: rgba(163, 160, 252, 1);
    border-radius: 22px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.63rem;
    color:#FFFFFF;
    cursor: pointer;
    transition: .2s;

    &:hover {
        background-color: rgba(163, 160, 252, 0.5);
    }
}

.big-buttons__arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    background: url(/assets/img/next.svg) no-repeat 50% 50%;  
}

/* PAGINATION
==============================*/

.pagination__header {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.63rem;
    text-transform: uppercase;
    color: #1F2041;
    margin-bottom: 0.84rem;
}

.pagination__pages {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.58rem;
}

.pagination__page,
.pagination__pages span {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.63rem;
    color: rgba(31, 32, 65, 0.5);
    border-radius: 22px;
    transition: .4s;

    &:hover {
        background: #BC9CFF;
        opacity: 0.5;
        color: #FFFFFF;
        border-radius: 22px;
        font-weight: bold;
    }

    &_current {
        background: #BC9CFF;
        border-radius: 22px;
        font-weight: bold;
        color: #FFFFFF;
    }

    &_next {
        background: #6FCF97 url(/assets/img/next.svg) 50% 50% no-repeat;
        border-radius: 22px;

        &:hover {
            background: #6FCF97 url(/assets/img/next.svg) 50% 50% no-repeat;
            opacity: 0.5;
        }
    }
}

.pagination__page_current:hover {
    opacity: 1;
}

.pagination__pages span:hover {
    color: rgba(31, 32, 65, 0.5);
    background: #FFFFFF;
    font-weight: normal;
    opacity: 1;
}

.pagination__total {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.74rem;
    color: rgba(31, 32, 65, 0.75);
}