.sliders
    .range-slider
        include range-slider.pug

    .big-buttons
        .big-buttons__header buttons
        .big-buttons__register
            button.big-buttons__sign-up click me
            button.big-buttons__sign-up.big-buttons__sign-up_sign-in click me
        .big-buttons__links
            a(href="#").big-buttons__click-me click me
        button.big-buttons__arrow-button перейти к оплате
            .big-buttons__arrow

    .pagination
        .pagination__header pagination
        .pagination__pages
            a(href="/node?page=1").pagination__page.pagination__page_current 1
            a(href="/node?page=1").pagination__page 2
            a(href="/node?page=1").pagination__page 3
            span &hellip;
            a(href="/node?page=1").pagination__page 15
            a(href="/node?page=1").pagination__page.pagination__page_next 
        .pagination__total 1 – 12 из 100+ вариантов аренды


