.footer-info {
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    margin-bottom: 0.05rem;
}

.footer-info__inner {
    display: flex; 
    justify-content: space-between;
    padding: 5.26rem 0;
}

.footer-info__about {
    width: 260px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.74rem;
    line-height: 1.26rem;
    color: rgba(31, 32, 65, 0.75);
}

.footer-info__logo-margin {
    margin-bottom: 1.05rem;
}

.footer-info__list {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.63rem;
    line-height: 0.79rem;
    text-transform: uppercase;
    color: #1F2041;
    width: 143px;
}

.footer-info__list li {
    margin-top: 1.05rem;

    &:first-child {
        margin-top: 1.11rem;
    }
}

.footer-info__list li a {
    font-weight: normal;
    font-size: 0.74rem;
    line-height: 0.89rem;
    color: rgba(31, 32, 65, 0.5);
    text-transform: none;
    transition: .2s;

    &:hover {
        color: rgba(31, 32, 65, 0.75);
    }
}

.footer-info__about-us-width {
    width: 108px;
}

.footer-info__service-width {
    width: 149px;
}

.footer-info__subscribtion-width {
    width: 260px;
}

.footer-info__subscribtion-width li {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-transform: none;
    font-size: 0.74rem;
    line-height: 1.26rem;
    color: rgba(31, 32, 65, 0.75);
    
    &:first-child {
        margin-top: 0.89rem;
    }
}