/* UTILS 
===============================*/

@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

/* BASE SETTINGS 
===============================*/

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
} 

html {
  font-size: 19px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.53rem;
  color: #1F2041;
  font-family: 'Quicksand', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix::after {
  content:"";
  display: table;
  clear: both;
}

/* LOGO 
============================*/

.logo {
  width: 1440px;
  margin: 0 auto;
}

.logo__inner {
  position: relative;
  background-color: none;
  height: 48px;
  width: 48px;
  margin: 1.58rem 0px 1.58rem 1.58rem;
}

.logo__vector_1 {
  position: absolute;
  top: 0;
  left: 0;
}

.logo__vector_2 {
  position: absolute;
  top: 18.35px;
  left: 11.29px;
}

.logo__vector_3 {
  position: absolute;
  top: 18.35px;
  left: 25.77px;
}

/* COLORS 
==========================*/ 

.colors-and-types {
  padding-top: 1.95rem;
}

.colors-and-types__inner {
  display: flex;
  justify-content: space-between;
}

.colors {
  width: 269.26px;
}

.colors__rectangles {
  float: left;
  width: 70px;
}

.colors__rectangle{
  width: 70px;
  height: 70px;
  border-radius: 6px;
  margin-bottom: 1.05rem;
}

.colors__rectangle_1 {
  background: #1F2041;
}

.colors__rectangle_2 {
  background: rgba(31, 32, 65, 0.75);
}

.colors__rectangle_3 {
  background: rgba(31, 32, 65, 0.5);
}

.colors__rectangle_4 {
  background: rgba(31, 32, 65, 0.25);
}

.colors__rectangle_5 {
  background: rgba(31, 32, 65, 0.05);
}

.colors__rectangle_6 {
  background: #BC9CFF;
}

.colors__rectangle_7 {
  background: #6FCF97;
}

.colors__descriptions {
  float: right;
  width: 159px;
  height: 610px;
}

.colors__description span {
  font-weight: 700;
}

.colors__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 159px;
  height: 70px;
  margin-bottom: 1.05rem;
}


/* TYPES 
=========================*/

.types {
  width: 403px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

.types__terms {
  width: 100%;
  margin-bottom: 2.63rem;
}

.types__float {
  float: right;
  min-height: 0px;
  min-width: 0px;
}

.types__terms:last-child {
  margin-bottom: 0;
}

.types__header {
  float: left;
  width: 37px;
  text-align: right;
  color: rgba(31, 32, 65, 0.25);
}

.types__header_1 {
  font-size: 1.26rem;
  line-height: 1.53rem;
}

.types__header_2 {
  font-size: 1rem;
  line-height: 1.21rem;
}

.types__header_3 {
  font-size: 0.63rem;
  line-height: 0.79rem;
}

.types__header_4 {
  font-size: 0.74rem;
  line-height: 1.26rem;
}

.types__description {
  display: inline-block;
  width: 336px;
  height: auto;
  font-weight: bold;
  color: #1F2041; 
}

.types__description_1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.26rem;
  line-height: 1.58rem;
}

.types__description_2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  line-height: 1.26rem;
}

.types__description_3 {
  font-size: 0.63rem;
  line-height: 0.79rem;
  text-transform: uppercase;
}

.types__description_4 {
  font-style: normal;
  font-weight: normal;
  font-size: 0.74rem;
  line-height: 1.26rem;
  color: rgba(31, 32, 65, 0.75);
}

/* CARDS 
=====================================*/ 

.cards {
  margin-top: 7.89rem;
  padding-top: 7.89rem;
  background-color:#E5E5E5;
}

.cards__inner {
  display: flex;
}

.room-search {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 380px;
  height: 374px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  padding: 2.11rem 1.58rem 1.58rem;

    h1 {
    font-weight: bold;
    font-size: 1.32rem;
    line-height: 1.58rem;
    margin-bottom: 1.05rem;
    }

    h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.63rem;
    line-height: 0.79rem;
    text-transform: uppercase;
    margin-bottom: 0.29rem;
    }
}

.data {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 0.79rem;
  width: 150px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  margin-bottom: 1.08rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.74rem;
  color: rgba(31, 32, 65, 0.75);
}

.guests {
  width: 100%;
}

.col {
  position: relative;
  display: flex;
  height: 44px;
  padding-left: 0.79rem;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  margin-bottom: 1.63rem;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.74rem;
  color: rgba(31, 32, 65, 0.75);
}

button {
  position: relative;
  display: flex;
  height: 44px;
  width: 100%;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 0.63rem;
  color:#FFFFFF;
}

.array {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
}




