include ../mixins

doctype html
head
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(http-equiv='X-UA-Compatible', content='ie=edge')
	title Toxin
body
	include ../../../blocks/page-headers-footers/header1/header1
	block content
	include ../../../blocks/page-headers-footers/footer-info/footer-info
	include ../../../blocks/page-headers-footers/footer-copyright/footer-copyright