.colors
	.colors__rectangles
		.colors__rectangle.colors__rectangle_1
		.colors__rectangle.colors__rectangle_2
		.colors__rectangle.colors__rectangle_3
		.colors__rectangle.colors__rectangle_4
		.colors__rectangle.colors__rectangle_5
		.colors__rectangle.colors__rectangle_6
		.colors__rectangle.colors__rectangle_7
	.colors__descriptions
		+color-description('Dark Shade 100%','#1F2041')
		+color-description('Dark Shade 75%','#1F2041')
		+color-description('Dark Shade 50%','#1F2041')
		+color-description('Dark Shade 25%','#1F2041')
		+color-description('Dark Shade 5%','#1F2041')
		+color-description('Purple','#BC9CFF')
		+color-description('Green','#6FCF97')
