/* ROOM-SEARCH-FORM 
=====================================*/ 

.room-search-form {
  width: 382px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.room-search-form__inner {
  margin: 40px 30px 30px;
}

.room-search-form__header {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
  margin-right: 14px;
  margin-bottom: 20px;
}

.room-search-form__arrival-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px; 
}

.room-search-form__arrival {
  min-width: 150px;
}

.room-search-form__margin {
  margin-bottom: 31px;
}