.room-search-form 
	.room-search-form__inner
		h1.room-search-form__header Найдём номера под ваши пожелания
		.room-search-form__arrival-wrapper
			.room-search-form__arrival
				.text-field__header  <!-- From "text-fields.pug" -->
					|прибытие
				button.text-field__input.text-field__input_dropdown ДД.ММ.ГГГГ
					.arrow
						img(src="/assets/img/down-arrow.svg" width="12", alt="")
			.room-search-form__arrival
				.text-field__header
					|выезд
				button.text-field__input.text-field__input_dropdown ДД.ММ.ГГГГ
					.arrow
						img(src="/assets/img/down-arrow.svg" width="12", alt="")
		    
		.guests-dropdown.room-search-form__margin  <!-- From "active-dropdowns.pug" -->
    
			.text-field__header <!-- From "text-fields.pug" -->
				|гости

			div(class="facilities-dropdown__menu-js")
				button.text-field__input.text-field__input_dropdown.facilities-dropdown__btn Сколько гостей
					.arrow
						img(src="/assets/img/down-arrow.svg" width="12", alt="")

				ul.facilities-dropdown__expand.guests-dropdown__btn
					li.facilities-dropdown__rooms
						span Взрослые 
						.facilities-dropdown__count
							button.facilities-dropdown__plus-minus.facilities-dropdown__plus-minus_disabled -
							| 0
							button.facilities-dropdown__plus-minus +
					li.facilities-dropdown__rooms
						span Дети
						.facilities-dropdown__count
							button.facilities-dropdown__plus-minus.facilities-dropdown__plus-minus_disabled -
							| 0
							button.facilities-dropdown__plus-minus +
					li.facilities-dropdown__rooms
						span Младенцы
						.facilities-dropdown__count
							button.facilities-dropdown__plus-minus.facilities-dropdown__plus-minus_disabled -
							| 0
							button.facilities-dropdown__plus-minus +
					.guests-dropdown__apply-cancel    
						button.guests-dropdown__apply Применить
		form(action="search-room-page.html")
			button.big-buttons__arrow-button подобрать номер <!-- From "sliders.pug" -->
				.big-buttons__arrow