.room-search-form 
	.room-search-form__inner
		h1.room-search-form__header Найдём номера под ваши пожелания
		.room-search-form__arrival-wrapper
			.room-search-form__arrival
				.text-field__header  <!-- From "text-fields.pug" -->
					|прибытие
				button.text-field__input.text-field__input_dropdown.room-search-form__arrival-button ДД.ММ.ГГГГ
			.room-search-form__arrival
				.text-field__header
					|выезд
				button.text-field__input.text-field__input_dropdown.room-search-form__checkout-button ДД.ММ.ГГГГ
			include ../calendar/expand-calendar.pug
		.room-search-form__margin
			include ../../page-form-elements/active-dropdowns/guests-dropdown.pug   

		form(action="search-room-page.html")
			button.big-buttons__arrow-button подобрать номер <!-- From "sliders.pug" -->
				.big-buttons__arrow