.room-search-form  
	h1.room-search-form__header Найдём номера под ваши пожелания
	.arrival 
		h2.arrival__header Прибытие
		.data ДД.ММ.ГГГГ
			.array
				img(src="/assets/img/down-arrow.svg" width="12", alt="")
	.checkout
		h2.checkout__header Выезд 
		.data ДД.ММ.ГГГГ
			.array
				img(src="/assets/img/down-arrow.svg" width="12", alt="")
	.guests
		h2.guests__header Гости
		.data Сколько гостей
			.array
				img(src="/assets/img/down-arrow.svg" width="12", alt="")
	button.btn Подобрать номер
			.array
				img(src="/assets/img/next.svg" width="18", alt="")