.checkbox-lists {
    margin-top: 2.11rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} 

/* ADDITIONALS CHECKBOX
============================= */

.additionals-checkbox {
    width: 265px;
}

.additionals-checkbox__btn {
    font-weight: bold;
    font-size: 0.63rem;
    text-transform: uppercase;
    color: #1F2041;
    border: none;
    padding-left: 0;

    &:hover,
    &:focus {
        border: none;
    }
}

.additionals-checkbox__expand {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    background: white;
    width: 265px;
    display: none;
}

.additionals-checkbox__open-js .additionals-checkbox__expand {
    display: block;
}

.additionals-checkbox__open-js .arrow_up {
    transform: rotate(-180deg);
    transition: .2s;
}

/* RICH CHECKBOX
============================= */

.rich-checkbox {
    margin-top: 0.76rem;
    margin-right: -2.79rem;
}

.additionals-checkbox__expand_rich {
    display: block;
    z-index: 0;
    position: relative;
}

.rich-checkbox__header {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.63rem;
    text-transform: uppercase;
    color: #1F2041;
    margin-bottom: 0.68rem;
}

.rich-checkbox__description {
    font-size: 0.63rem;
    color: rgba(31, 32, 65, 0.5);
    margin-bottom: -0.21rem;
    margin-top: 0.26rem;
}

.rich-checkbox__item {
    font-weight: bold;
    color: rgba(31, 32, 65, 0.75);
    margin-bottom: 0.26rem;

    &:hover {
        color:rgba(31, 32, 65, 1);
    }
}

/* BULLET LIST
============================= */

.bullet-list {
    margin-top: 0.76rem;
    margin-right: 1.47rem;
    width: 292px;

}

.bullet-list__header {
    margin-bottom: 0.95rem;
}

.bullet-list__item {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 0.74rem;
    color: rgba(31, 32, 65, 0.75);
    margin-bottom: 0.95rem;

    &::before {
        position: absolute;
        content: "";
        top: 0.21rem;
        left: -1.08rem;
        width: 10.43px;
        height: 10px;
        background: rgba(31, 32, 65, 0.25);
        border-radius: 50% / 50%;
    }
}

.bullet-list ul {
    padding-left: 1.10rem;
}

