.different-buttons
    .checkbox-buttons
        h2.checkbox-buttons__header Checkbox Buttons
        ul.checkbox-buttons__items
            li
                input(class="checkbox-buttons__input" id="smoke" type="checkbox")
                label(for="smoke" class="checkbox-buttons__item") Можно курить
            li
                input(class="checkbox-buttons__input" id="pet" type="checkbox")
                label(for="pet" class="checkbox-buttons__item") Можно с питомцами
            li
                input(class="checkbox-buttons__input" id="invite" type="checkbox")
                label(for="invite" class="checkbox-buttons__item") Можно пригласить гостей (до 10 человек)
    
    .radio-buttons
        h2.radio-buttons__header Radio buttons
        ul.radio-buttons__items
            li
                input(class="radio-buttons__input" id="male" type="radio" name="gender")
                label(for="male" class="radio-buttons__item") Мужчина
            li
                input(class="radio-buttons__input" id="female" type="radio" name="gender")
                label(for="female" class="radio-buttons__item") Женщина 


    .toggle
        h2.toggle__header toggle
        input(class="toggle__input" id="specials" type="checkbox" name="specials")
        label(for="specials" class="toggle__item") Получать спецпредложения

    .like-button
        h2.like-button__header like button
        input(class="like-button__input" id="like" type="checkbox" name="like")
        label(for="like" class="like-button__item") 

    .rate-button
        h2.rate-button__header rate button
        .rate-button__items
            input(class="rate-button__input" id="rating5" type="radio" name="rating" value="5")
            label(class="rate-button__item" for="rating5")
            input(class="rate-button__input" id="rating4" type="radio" name="rating" value="4")
            label(class="rate-button__item" for="rating4")
            input(class="rate-button__input" id="rating3" type="radio" name="rating" value="3")
            label(class="rate-button__item" for="rating3")
            input(class="rate-button__input" id="rating2" type="radio" name="rating" value="2")
            label(class="rate-button__item" for="rating2")
            input(class="rate-button__input" id="rating1" type="radio" name="rating" value="1")
            label(class="rate-button__item" for="rating1")

