.buttons
    .checkbox-buttons
        h2.checkbox-buttons__header Checkbox Buttons
        ul.checkbox-buttons__items
            li
                input(class="checkbox-buttons__input" id="smoke" type="checkbox")
                label(for="smoke" class="checkbox-buttons__item") Можно курить
            li
                input(class="checkbox-buttons__input" id="pet" type="checkbox")
                label(for="pet" class="checkbox-buttons__item") Можно с питомцами
            li
                input(class="checkbox-buttons__input" id="invite" type="checkbox")
                label(for="invite" class="checkbox-buttons__item") Можно пригласить гостей (до 10 человек)
    
    .radio-buttons
        h2.radio-buttons__header Radio buttons
        ul.radio-buttons__items
            li
                input(class="radio-buttons__input" id="male" type="radio" name="gender")
                label(for="male" class="radio-buttons__item") Мужчина
            li
                input(class="radio-buttons__input" id="female" type="radio" name="gender")
                label(for="female" class="radio-buttons__item") Женщина 


    .toggle
        h2.toggle__header toggle
        input(class="toggle__input" id="specials" type="checkbox" name="specials")
        label(for="specials" class="toggle__item") Получать спецпредложения

    .like-button
        h2.like-button__header like button
        input(class="like-button__input" id="like" type="checkbox" name="like")
        label(for="like" class="like-button__item") 
