.register {
    width: 380px;
    height: 646px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
}

.register__inner {
    margin: 2.11rem 1.58rem 1.58rem;
}

.register__header {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 1.26rem;
    line-height: 1.58rem;
    color: #1F2041;
    margin-bottom: 1.05rem;
}

.register__name-margin {
    margin-bottom: 0.53rem;
}

.register__surname-margin {
    margin-bottom: 0.39rem;
}

.register__gender-margin {
    margin-bottom: 1.26rem;
}

.register__birthday-margin {
    margin-bottom: 1.05rem;
}

.register__email-margin {
    margin-bottom: 0.53rem;
}

.register__password-margin {
    margin-bottom: 0.32rem;
}

.register__toggle-margin {
    margin-bottom: 1.26rem;
}

.register__button-margin {
    margin-bottom: 1.58rem;
}

.register-have-account {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.74rem;
    line-height: 2.32rem;
    display: flex;
    color: #000000;
    justify-content: space-between;
}