.register-page__image {
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 702px;
    background: url(/assets/img/registration.png) 0 -70px no-repeat;
    margin: -2.11rem auto 0 auto;
}

.register-page__margin {
    margin-top: 1.58rem;
}