.matched-room888
    .matched-room888__photo
        .matched-room888__previous
            button.matched-room888__arrow
        .matched-room888__previous.matched-room888__previous_next
            button.matched-room888__arrow
    .matched-room888__description 
        .matched-room888__inner
            .room-search-data__lux-number.matched-room888__font 888 <span>люкс</span>
            .room-search-data__lux-cost 9 990₽ <span>в сутки</span>

