.matched-room888
    .matched-room888__photo
        .matched-room888__previous
            button.matched-room888__arrow
        .matched-room888__previous.matched-room888__previous_next
            button.matched-room888__arrow
    .matched-room888__description 
        .matched-room888__inner
            .matched-room888__cost-wrapper
                .room-search-data__lux-number.matched-room888__font 888 <span>люкс</span>
                .room-search-data__lux-cost 9 990₽ <span>в сутки</span>
            .matched-room888__line
            .matched-room888__rate-wrapper
                .rate-button
                    .rate-button__items
                        input(class="rate-button__input" id="rating51" type="radio" checked="checked" disabled="disabled" name="rating1" value="5")
                        label(class="rate-button__item" for="rating51")
                        input(class="rate-button__input" id="rating41" type="radio" disabled="disabled" name="rating1" value="4")
                        label(class="rate-button__item" for="rating41")
                        input(class="rate-button__input" id="rating31" type="radio" disabled="disabled" name="rating1" value="3")
                        label(class="rate-button__item" for="rating31")
                        input(class="rate-button__input" id="rating21" type="radio" disabled="disabled" name="rating1" value="2")
                        label(class="rate-button__item" for="rating21")
                        input(class="rate-button__input" id="rating11" type="radio" disabled="disabled" name="rating1" value="1")
                        label(class="rate-button__item" for="rating11")
                .matched-room888__feedbacks 145 <span>Отзывов</span>

