extends ../assets/pug/layout/main.pug

block content
	include ../blocks/logo/logo.pug
	.colors-and-types
		.container
			.colors-and-types__inner
				include ../blocks/colors/colors.pug
				include ../blocks/types/types.pug
	.form-elements
		.container
			.form-elements__inner
				include ../blocks/page-form-elements/text-fields/text-fields.pug
				include ../blocks/page-form-elements/buttons/buttons.pug
				include ../blocks/page-form-elements/sliders/sliders.pug
	.cards
		.container
			.cards__inner
				include ../blocks/page-cards/room-search-form/room-search-form.pug
				include ../blocks/page-cards/room-search-data/room-search-data.pug