extends ../assets/pug/layout/main.pug

block content
	.landing-page
		.landing-page__form-position
			include ../blocks/page-cards/room-search-form/room-search-form.pug
		.landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения
	
