extends ../assets/pug/layout/main.pug

block content
    .container
        .search-room__inner      
            .search-room__menu <!-- Menu -->
                .search-room__arrival-date-margin  
                    .text-field__header
                        |даты пребывания в отеле
                    button.text-field__input.text-field__input_dropdown 19 авг - 23 авг
                        .arrow
                            img(src="/assets/img/down-arrow.svg" width="12", alt="")

                .search-room__guests-margin 
        
                    .text-field__header <!-- From "text-fields.pug" -->
                        |гости

                    .facilities-dropdown__hover
                        button.text-field__input.text-field__input_dropdown.facilities-dropdown__btn 3 гостя
                            .arrow
                                img(src="/assets/img/down-arrow.svg" width="12", alt="")

                        ul.facilities-dropdown__expand
                            li.facilities-dropdown__rooms
                                span Взрослые 
                                .facilities-dropdown__count
                                    button.facilities-dropdown__plus-minus -
                                    | 2
                                    button.facilities-dropdown__plus-minus +
                            li.facilities-dropdown__rooms
                                span Дети
                                .facilities-dropdown__count
                                    button.facilities-dropdown__plus-minus -
                                    | 1
                                    button.facilities-dropdown__plus-minus +
                            li.facilities-dropdown__rooms
                                span Младенцы
                                .facilities-dropdown__count
                                    button.facilities-dropdown__plus-minus.facilities-dropdown__plus-minus_disabled -
                                    | 0
                                    button.facilities-dropdown__plus-minus +
                            .guests-dropdown__apply-cancel
                                button.guests-dropdown__apply Применить    
                                button.guests-dropdown__apply Очистить

                .search-room__slider-margin
                    .range-slider__header диапазон цены
                        span 5 000₽ - 10 000₽
                    .range-slider__price.search-room__range-margin
                        .range-slider__range
                            .range-slider__min
                            .range-slider__max
                    .search-room__cost-per-day Стоимость за сутки пребывания в номере

                .search-room__checkbox-margin
                    h2.checkbox-buttons__header Дополнительные условия
                    ul.checkbox-buttons__items
                        li
                            input(class="checkbox-buttons__input" id="smoke1" type="checkbox")
                            label(for="smoke1" class="checkbox-buttons__item") Можно курить
                        li
                            input(class="checkbox-buttons__input" id="pet1" type="checkbox")
                            label(for="pet1" class="checkbox-buttons__item") Можно с питомцами
                        li
                            input(class="checkbox-buttons__input" id="invite1" type="checkbox")
                            label(for="invite1" class="checkbox-buttons__item") Можно пригласить гостей (до 10 человек)

                .search-room__rich-checkbox-margin
                    .rich-checkbox__header доступность

                    ul.checkbox-buttons__items.additionals-checkbox__expand.additionals-checkbox__expand_rich  <!-- From "buttons.pug" -->
                        li
                            input(class="checkbox-buttons__input" id="rich11" type="checkbox")
                            label(for="rich11" class="checkbox-buttons__item rich-checkbox__item") Широкий коридор
                            .rich-checkbox__description Ширина коридоров в номере не менее 91 см. 
                        li
                            input(class="checkbox-buttons__input" id="rich21" type="checkbox")
                            label(for="rich21" class="checkbox-buttons__item rich-checkbox__item") Помощник для инвалидов
                            .rich-checkbox__description На 1 этаже вас встретит специалист  и проводит до номера. 

                .search-room__facilities-margin
                    .text-field__header <!-- From "text-fields.pug" -->
                        |удобства номера 

                    .facilities-dropdown__hover
                        button.text-field__input.text-field__input_dropdown.facilities-dropdown__btn 2 спальни, 2 кровати...
                            .arrow
                                img(src="/assets/img/down-arrow.svg" width="12", alt="")

                        ul.facilities-dropdown__expand
                            li.facilities-dropdown__rooms
                                span Спальни 
                                .facilities-dropdown__count
                                    button.facilities-dropdown__plus-minus -
                                    | 2
                                    button.facilities-dropdown__plus-minus +
                            li.facilities-dropdown__rooms
                                span Кровати
                                .facilities-dropdown__count
                                    button.facilities-dropdown__plus-minus -
                                    | 2
                                    button.facilities-dropdown__plus-minus +
                            li.facilities-dropdown__rooms
                                span Ванные комнаты
                                .facilities-dropdown__count
                                    button.facilities-dropdown__plus-minus.facilities-dropdown__plus-minus_disabled -
                                    | 0
                                    button.facilities-dropdown__plus-minus +

                .search-form__additionals
                    .additionals-checkbox
                        button.text-field__input.text-field__input_dropdown.additionals-checkbox__btn EXPANDABLE CHECKBOX LIST <!-- From "text-fields.pug" -->
                            .arrow.arrow_up
                                img(src="/assets/img/down-arrow.svg" width="12", alt="")

                        ul.checkbox-buttons__items.additionals-checkbox__expand  <!-- From "buttons.pug" -->
                            li
                                input(class="checkbox-buttons__input" id="additional11" type="checkbox")
                                label(for="additional11" class="checkbox-buttons__item") Завтрак
                            li
                                input(class="checkbox-buttons__input" id="additional21" type="checkbox")
                                label(for="additional21" class="checkbox-buttons__item") Письменный стол
                            li
                                input(class="checkbox-buttons__input" id="additional31" type="checkbox")
                                label(for="additional31" class="checkbox-buttons__item") Стул для кормления
                            li
                                input(class="checkbox-buttons__input" id="additional41" type="checkbox")
                                label(for="additional41" class="checkbox-buttons__item") Кроватка
                            li
                                input(class="checkbox-buttons__input" id="additional51" type="checkbox")
                                label(for="additional51" class="checkbox-buttons__item") Телевизор
                            li
                                input(class="checkbox-buttons__input" id="additional61" type="checkbox")
                                label(for="additional61" class="checkbox-buttons__item") Шампунь
                            li
                                input(class="checkbox-buttons__input" id="additional71" type="checkbox")
                                label(for="additional71" class="checkbox-buttons__item") Телевизор
                            li
                                input(class="checkbox-buttons__input" id="additional81" type="checkbox")
                                label(for="additional81" class="checkbox-buttons__item") Шампунь

            .search-room__rooms <!-- Rooms-->
                .rooms__header Номера, которые мы для вас подобрали
                .rooms__grid
                    .rooms__column
                        +matched-room-5stars("matched-room888__photo", "room-details-page.html", "888", "9 990₽", "145", 'rating3', 'rating13', 'rating23', 'rating33', 'rating43', 'rating53')
                        +matched-room-5stars("matched-room856__photo", "/node?page=1", "856", "7 300₽", "19", 'rating6', 'rating16', 'rating26', 'rating36', 'rating46', 'rating56')
                        +matched-room-5stars("matched-room678__photo", "/node?page=1", "678", "5 500₽", "45", 'rating9', 'rating19', 'rating29', 'rating39', 'rating49', 'rating59')
                        +matched-room-5stars("matched-room666__photo", "/node?page=1", "666", "5 000₽", "25", 'rating12', 'rating112', 'rating212', 'rating312', 'rating412', 'rating512')
                    .rooms__column
                        +matched-room-4stars("matched-room840__photo", "/node?page=1", "840", "9 990₽", "65", 'rating4', 'rating14', 'rating24', 'rating34', 'rating44', 'rating54')
                        +matched-room-4stars("matched-room740__photo", "/node?page=1", "740", "6 000₽", "44", 'rating7', 'rating17', 'rating27', 'rating37', 'rating47', 'rating57')
                        +matched-room-4stars("matched-room450__photo", "/node?page=1", "450", "5 300₽", "39", 'rating10', 'rating110', 'rating210', 'rating310', 'rating410', 'rating510')
                        +matched-room-3stars("matched-room444__photo", "/node?page=1", "444", "5 000₽", "15", 'rating13', 'rating113', 'rating213', 'rating313', 'rating413', 'rating513')
                    .rooms__column 
                        +matched-room-3stars("matched-room980__photo", "/node?page=1", "980", "8 500₽", "35", 'rating5', 'rating15', 'rating25', 'rating35', 'rating45', 'rating55')
                        +matched-room-3stars("matched-room982__photo", "/node?page=1", "982", "5 800₽", "56", 'rating8', 'rating18', 'rating28', 'rating38', 'rating48', 'rating58')
                        +matched-room-3stars("matched-room350__photo", "/node?page=1", "350", "5 000₽", "77", 'rating11', 'rating111', 'rating211', 'rating311', 'rating411', 'rating511')
                        +matched-room-3stars("matched-room352__photo", "/node?page=1", "352", "5 000₽", "55", 'rating14', 'rating114', 'rating214', 'rating314', 'rating414', 'rating514')
                .rooms__pagination
                    .pagination
                        .pagination__pages
                            a(href="/node?page=1").pagination__page.pagination__page_current 1
                            a(href="/node?page=2").pagination__page 2
                            a(href="/node?page=3").pagination__page 3
                            span &hellip;
                            a(href="/node?page=15").pagination__page 15
                            a(href="/node?page=1").pagination__page.pagination__page_next 
                        .pagination__total 1 – 12 из 100+ вариантов аренды
    .search-room__line