/* LOGO 
============================*/

.logo {
    width: 1440px;
    margin: 0 auto;
  }
  
  .logo__inner {
    position: relative;
    background-color: none;
    height: 48px;
    width: 48px;
    margin: 1.58rem 0px 1.58rem 1.58rem;
  }
  
  .logo__vector_1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .logo__vector_2 {
    position: absolute;
    top: 18.35px;
    left: 11.29px;
  }
  
  .logo__vector_3 {
    position: absolute;
    top: 18.35px;
    left: 25.77px;
  }