/* CARDS 
=====================================*/ 

.cards {
  margin-top: 7.89rem;
  padding-top: 7.89rem;
  padding-bottom: 7.89rem;
  background-color:#E5E5E5;
}
  
.cards__inner {
  width: 100%;
}

.cards__first-column {
  float: left;
  margin-right: 2rem;
}

.cards__second-column {
  float: left;
  margin-right: 2rem;
}

.cards__third-column {
  float: left;
}