.types
	.types__terms.clearfix
		.types__header.types__header_1 H1
		.types__float.types__description.types__description_1
			| This one is the sub-section or widget title
	.types__terms.clearfix
		.types__header.types__header_2 H2
		.types__float.types__description.types__description_2
			| Next one is the item title inside widgets
	.types__terms.clearfix
		.types__header.types__header_3 H3
		.types__float.types__description.types__description_3
			| This is a label or CTA text
	.types__terms.clearfix
		.types__header.types__header_4 Body
		.types__float.types__description.types__description_4
			| This is the body text which is used for most of the design, like
			| paragraphs, lists, etc.