.landing-page {
    position: relative;
    height: 830px;
    width: 1440px;
    background: url(/assets/img/landing-image.png) no-repeat;
    margin: -2.11rem auto 0 auto;
}

.landing-page__form-position {
    position: absolute;
    top: 70px;
    left: 140px;
}

.landing-page__text {
    position: absolute;
    bottom: 18px; 
    right: 134px;
    width: 297px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.74rem;
    line-height: 1.26rem;
    text-align: right;
    color: rgba(31, 32, 65, 0.75);
    text-align: right;
}