.header1
    .container
        .header1__inner
            .header1__logo(onclick = "window.location='landing-page.html'")
                .header1__image
                    .header1__vector1
                    .header1__vector2
                .header1__toxin
            ul.header1__menu
                li 
                    a(href="#") О нас
                li.header1__down-arrow 
                    a(href="#") Услуги
                li
                    a(href="#") Вакансии
                li 
                    a(href="#") Новости
                li.header1__down-arrow 
                    a(href="#") Соглашения
                li  
                    form(action="sign-in-page.html")  
                        button.header1__log-in войти
                li
                    form(action="register-page.html")
                        button.header1__register зарегестрироваться


