.text-fields {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    justify-content: space-between;
    margin-right: 126px;
}

.text-field {
    margin-bottom: 1.05rem;
    width: 100%;

    &_date-dropdown {
        width: 150px;
        margin: 1.05rem 0 2.11rem 0;
    }

    &_filter-date-dropdown,
    &_subscription {
        width: 266px;
        margin-bottom: 2.11rem;
    }
}

.text-field__input {
    align-items: center;
    padding-left: 0.79rem;
    height: 44px;
    width: 100%;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.74rem;
    color: rgba(31, 32, 65, 0.75);
    position: relative;

    @include placeholder {
        color: rgba(31, 32, 65, 0.25);
    }

    &:hover {
        border: 1px solid rgba(31, 32, 65, 0.5);
    }

    &_hover {
        border: 1px solid rgba(31, 32, 65, 0.5);
        @include placeholder {
            color: rgba(31, 32, 65, 0.75);
        }
    }

    &_dropdown {
        background: none;
        text-align: left;
    }

    &_subscription{
        width: 224px;
        height: 42px;
        border: none;
        &:hover {
            border: none;
        }
    }
}

.text-field__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.26rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.63rem;
    text-transform: uppercase;
    color: #1F2041;
}

.text-field__status {
    font-weight: normal;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
}

.text-field__special-offers {
    display: flex;
    justify-content: space-between;
    position: relative;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    padding: 1px;
    
    &:hover{
        border: 1px solid rgba(31, 32, 65, 0.5);
    }
}
