.log-in
    .log-in__inner
        .log-in__header Войти

        .log-in__email-margin
            input(class="text-field__input" type="email" name="email2" placeholder="Email")

        .log-in__password-margin
            input(class="text-field__input" type="password" placeholder="Пароль")
        
        button.big-buttons__arrow-button.register__button-margin войти
            .big-buttons__arrow
        
        .register-have-account
            p Нет аккаунта на Toxin?
            button.big-buttons__sign-up.big-buttons__sign-up_sign-in создать