/* UTILS 
===============================*/

@import "assets/scss/libs";
@import "assets/scss/vars";
@import "assets/scss/mixins";
@import "assets/scss/fonts";
@import "assets/scss/reset";

/* BASE SETTINGS 
===============================*/

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
} 

html {
  font-size: 19px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #1F2041;
  font-family: 'Quicksand', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* BLOCKS 
===============================*/

@import "blocks/logo/logo";
@import "blocks/colors/colors";
@import "blocks/types/types";
@import "blocks/page-form-elements/form-elements";
@import "blocks/page-form-elements/text-fields/text-fields";
@import "blocks/page-form-elements/buttons/buttons";
@import "blocks/page-form-elements/sliders/sliders";
@import "blocks/page-form-elements/active-dropdowns/active-dropdowns";
@import "blocks/page-form-elements/room-information/room-information";
@import "blocks/page-form-elements/checkbox-lists//checkbox-lists";
@import "blocks/page-cards/cards";
@import "blocks/page-cards/room-search-form/room-search-form";
@import "blocks/page-cards/room-search-data/room-search-data";
@import "blocks/page-cards/calendar/calendar";
@import "blocks/page-cards/register/register";
@import "blocks/page-cards/log-in/log-in";
@import "blocks/page-cards/matched-room888/matched-room888";
@import "blocks/page-cards/matched-room840/matched-room840";
@import "blocks/page-headers-footers/page-headers-footers";
@import "blocks/page-headers-footers/header1/header1";
@import "blocks/page-headers-footers/header2/header2";
@import "blocks/page-headers-footers/footer-info/footer-info";








