.matched-room.matched-room__margin
    .matched-room840__photo.matched-room__hover
        .matched-room__previous
            button.matched-room__arrow
        .matched-room__previous.matched-room__previous_next
            button.matched-room__arrow
    .matched-room__description 
        .matched-room__inner
            .matched-room__cost-wrapper
                .room-search-data__lux-number.matched-room__font 840 <span>люкс</span>
                .room-search-data__lux-cost 9 990₽ <span>в сутки</span>
            .matched-room__line
            .matched-room__rate-wrapper
                .rate-button
                    .rate-button__items
                        input(class="rate-button__input" id="rating52" type="radio" disabled="disabled" name="rating2" value="5")
                        label(class="rate-button__item" for="rating52")
                        input(class="rate-button__input" id="rating42" type="radio" checked disabled="disabled" name="rating2" value="4")
                        label(class="rate-button__item" for="rating42")
                        input(class="rate-button__input" id="rating32" type="radio" disabled="disabled" name="rating2" value="3")
                        label(class="rate-button__item" for="rating32")
                        input(class="rate-button__input" id="rating22" type="radio" disabled="disabled" name="rating2" value="2")
                        label(class="rate-button__item" for="rating22")
                        input(class="rate-button__input" id="rating12" type="radio" disabled="disabled" name="rating2" value="1")
                        label(class="rate-button__item" for="rating12")
                .matched-room__feedbacks  65 <span>Отзывов</span>