.calendar
	.calendar__inner    
		h1.calendar__month
			button.calendar__next-month.calendar__next-month_previous
			p.calendar__header-month Июль 2020
			button.calendar__next-month.calendar__next-month_next
		#calendar
			<table class="calendar__week-days"><tbody><tr><th>Пн</th><th>Вт</th><th>Ср</th><th>Чт</th><th>Пт</th><th>Сб</th><th>Вс</th></tr><tr><td class="calendar__disabled">29</td><td class="calendar__disabled">30</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td></tr><tr><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td></tr><tr><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td></tr><tr><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td></tr><tr><td>27</td><td>28</td><td>29</td><td>30</td><td>31</td><td class="calendar__disabled">1</td><td class="calendar__disabled">2</td></tr></tbody></table>
		.calendar__apply
			button.guests-dropdown__apply Применить <!-- From active-dropdowns.pug --> 
			button.guests-dropdown__apply Очистить

