.calendar.drop-calendar
    .calendar__inner    
        h1.calendar__month
            button.calendar__next-month.calendar__next-month_previous
            p.calendar__header-month Август 2019
            button.calendar__next-month.calendar__next-month_next
        #dropCalendar
        .calendar__apply
            button.guests-dropdown__apply.calendar__apply-js Применить <!-- From active-dropdowns.pug --> 
            button.guests-dropdown__apply.calendar__clear-js Очистить